body, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('พื้นหลัง.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.icon-user {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.from-group {
    margin-bottom: 30px;
    text-align: left;
}

.from-group username {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.from-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.from-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}


.login-button:hover {
    background-color: #218838;
}


.register-link {
    color: #007bff;
    text-decoration: none;
}

/* Register link hover effect */
.register-link:hover {
    text-decoration: underline;
}